html {
  background-color: navy;
}

.placeholder {
  padding: 100px 0;
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: skyblue;
}
