html {
  background-color: #fefbd8;
}

.placeholder {
  padding: 100px 0;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 100px;
  font-family: "Major Mono Display", monospace;
  color: #36486b;
}

p {
  font-family: "Major Mono Display", monospace;
  font-size: 33px;
  color: 4040a1;
}
