html {
  background-color: #F0D000;
  /* font-family: 'Helvetica', 'Tahoma', 'sans-serif'; */
  /* font-family: 'Fira Code', monospace; */
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Inconsolata', monospace;
}
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 0 2.5rem 0 2.5rem;
    line-height: 1.5;
  }
  
  a {
    cursor: pointer;
  }

  a:link,
  a:visited {
    color: inherit; 
    text-decoration: underline; 
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
  }

  a:hover {
    /* text-underline-offset: 7px; */
    text-decoration-thickness: 4px;
  }

  a:active {
    text-decoration-thickness: 4px;
  }

  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 0rem 0;
    font-size: 2.5rem;
  }

  /* nav styles */
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
  }

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}


nav ul.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}