---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import BlogPostLink from '../components/BlogPostLink.astro';
// import "../styles/global.css";
import Footer from '../components/Footer.astro';

const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>

	<p>Some of my thoughts, experiments, and case studies</p>

	<!-- <ul>
		<li><a href="/first-blog-post/">First Blog Post</a></li>
	</ul> -->


	<!-- <a href="">• toward recursive self-improvement.</a>
	<p>another one</p> -->

	<BlogPostLink
		date="September 22, 2024"
		title="Introducing Our New Feature"
		description="Learn all about our latest update that will change the way you use our product."
		link="/blog/new-feature"
	/>
	
</BaseLayout>
