---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostLink from '../components/BlogPostLink.astro';

const pageTitle = "blog | boisselle";
---
<BaseLayout title={pageTitle}>

	<p>Some of my thoughts, experiments, and case studies</p>

	<BlogPostLink
	date="September 28, 2024"
	title="Megalopolis: The Most Expensive Art House Film Ever Produced."
	description="Genius or Mega-flopolis?"
	link="/megalopolis-review"
	/>

	<BlogPostLink
	date="September 25, 2024"
	title="Tracking Reading Productivity"
	description="Laying down the specifications for a reading productivity application."
	link="/tracking-reading-productivity"
	/>

	<BlogPostLink
		date="September 24, 2024"
		title="A Brief Introductory Roadmap"
		description="There's never an optimal way to first begin. Optimization is a function across instances"
		link="/roadmap"
	/>
	
</BaseLayout>
