---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import BlogPostLink from '../components/BlogPostLink.astro';
import Footer from '../components/Footer.astro';

const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>

	<p>Some of my thoughts, experiments, and case studies</p>

	<BlogPostLink
		date="September 22, 2024"
		title="Introducing Our New Feature"
		description="Learn all about our latest update that will change the way you use our product."
		link="/blog/new-feature"
	/>
	
</BaseLayout>
