
---
import Hamburger from './Hamburger.astro';
---
<header>
    <div class="header-left">
        <span class="header-title">boisselle</span> <!-- Your text on the left -->
    </div>
    <nav>
        <Hamburger />
        <div class="overlay">
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <ul class="desktop-menu">
            <li><a href="/">Blog</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>

<script>
    const overlay = document.querySelector('.overlay');
    const hamburger = document.querySelector('.hamburger');
    const links = document.querySelectorAll('.overlay a');

    window.addEventListener('toggleMenu', (event) => {
        overlay.classList.toggle('show', event.detail.isOpen);
        document.body.style.overflow = event.detail.isOpen ? 'hidden' : '';
    });

    links.forEach(link => {
        link.addEventListener('click', (e) => {
            e.preventDefault();
            overlay.classList.add('fade-out');
            hamburger.classList.remove('active');
            
            setTimeout(() => {
                overlay.classList.remove('show', 'fade-out');
                window.location.href = link.href;
            }, 300);
        });
    });
</script>

<style>
    /* header {
        padding: 1rem;
        background-color: #f4f4f4;
    } */
    header {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
        /* padding: 10px; */
        background-color: #F0D000;
        border-bottom: 2px solid black;
        margin-bottom: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    nav {
    display: flex;
        align-items: center;
    }

    .header-left {
        flex: 1; 
    }

    .header-title {
        font-size: 1.5rem; 
        font-weight: bold;
        color: black; 
    }
    
    .overlay {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 999;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease, visibility 0.2s ease;
    }

    .overlay.show {
        opacity: 1;
        visibility: visible;
    }

    .overlay.fade-out {
        opacity: 0;
    }

    .overlay ul {
        list-style-type: none;
        padding: 0;
    }

    .inactive {
        color: #999;
    }

    .overlay li {
        flex: 1;
        margin: 20px 0px;
        text-align: center;
    }

    .overlay a {
        flex: 1;
        display: inline-block;
        width: 150px;
        color: #ffd700;
        text-decoration: none;
        font-size: 30px;
        transition: color 0.3s ease;
        border: 2px solid #ffd700;;
        border-radius: 8px; 
        padding: 10px 20px;
        background-color: transparent; 
        transition: color 0.2s ease, background-color 0.2s ease, border-radius 0.2s ease;
        touch-action: manipulation;
    }

    .overlay a:hover {
        color: #111;
        background-color: #ffd700;
    }

    .overlay a:active {
        color: #111;
        background-color: #ffd700;
    }

    .desktop-menu {
        display: none;
    }

    @media (min-width: 636px) {
        .hamburger {
            display: none;
        }
        
        .overlay {
            display: none !important;
        }

        .desktop-menu {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .desktop-menu li {
            margin: 0 15px;
        }

        .desktop-menu a {
            color: #333;
            text-decoration: none;
            /* text-underline-offset: 10px; */
            font-size: 16px;
            padding: 7px 14px; 
            border: 2px solid black;
            border-radius: 8px; 
            background-color: transparent; 
            transition: color 0.2s ease, background-color 0.2s ease, border-radius 0.2s ease;
        }

        .desktop-menu a:hover {
            color: #FFD700; 
            background-color: black; 

            /* padding: 10px 10px;  */
            /* border-radius: 8px;  */
        }
    }
</style>