---
import Header from '../components/Header.astro';  // Adjust paths as necessary
import Footer from '../components/Footer.astro';
import Social from '../components/Social.astro';
const { title } = Astro.props;
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{Astro.props.title || 'My Website'}</title>
  </head>
  <body>
    <!-- Header Section -->
    <Header />

    <!-- Main Content -->
    <main>
      <slot />
    </main>

    <!-- Footer Section -->
    <Footer />

  </body>
</html>
